{% extends 'blog/base.html'%}

{% load static %}

{% block main %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "blog/img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>وبلاگ جنگو</h1>
            <span class="subheading">قدرت گرفته از پایتون و جنگو</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-10 mx-auto">
      {% if not articles %}
      <h3 class="alert alert-dark text-center"> متاسفانه مقاله ای برا نمایش وجود ندارد</h3>
      {% endif %}
      {% for article in articles %}
        <div class="post-preview">
            <a href="{% url 'blog:detail' article.slug %}">
              <h2 class="post-title">
                {{article.title}}
              </h2>
              <h3 class="post-subtitle text-justify">
                {{article.description|truncatewords:30}}
              </h3>
            </a>
            <p class="post-meta">نوشته شده توسط
              <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
              {{article.jpublish}}</p>
              <div>
                {% for cat in article.category_published.all %}
                <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
                {% endfor %}
              </div>
          </div>
          <hr>
      {% endfor %}
     
        <!-- Pager -->
      <!--
        <div class="clearfix" >
          <a class="btn btn-primary float-left" href="#">پست های قدیمی &rarr;</a>
        </div>
      </div>
    </div>
  </div> -->
<nav aria-label="Page navigation">
{% if page_obj.has_other_pages %}
  <ul class="pagination justify-content-center ">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" aria-label="Previous" href="{% url 'blog:home' page_obj.previous_page_number %}">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">قبلی</a>
    </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">{{i}} <span class="sr-only">(current)</span></a>
        </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="{% url 'blog:home' i %}">{{i}}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'blog:home' page_obj.next_page_number %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">بعدی</a>
    </li>
    {% endif %}
  </ul>
{% endif %}
</nav>
{% endblock %}