{% extends 'blog/base.html'%}

{% load static %}

{% block main %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "blog/img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>وبلاگ جنگو</h1>
            <span class="subheading">قدرت گرفته از پایتون و جنگو</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <h3 class="alert alert-info text-center"> دسته بندی:{{category.title}}</h3>
      {% for article in articles %}
        <div class="post-preview">
            <a href="{% url 'blog:detail' article.slug %}">
              <h2 class="post-title">
                {{article.title}}
              </h2>
              <h3 class="post-subtitle">
                {{article.description|truncatewords:30}}
              </h3>
            </a>
            <p class="post-meta">نوشته شده توسط
              <a href="#">علی</a>
              {{article.jpublish}}</p>
              <div>
                {% for cat in article.category.all %}
                <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
                {% endfor %}
              </div>
          </div>
          <hr>
      {% endfor %}
        <!-- Pager -->
        <nav aria-label="Page navigation">
          {% if articles.has_other_pages %}
            <ul class="pagination justify-content-center ">
              {% if articles.has_previous %}
                <li class="page-item">
                  <a class="page-link" aria-label="Previous" href="{% url 'blog:category' category.slug articles.previous_page_number %}">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">قبلی</a>
              </li>
              {% endif %}
              {% for i in articles.paginator.page_range %}
                {% if articles.number == i %}
                  <li class="page-item active">
                    <a class="page-link" href="#">{{i}} <span class="sr-only">(current)</span></a>
                  </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'blog:category' category.slug i %}">{{i}}</a></li>
                {% endif %}
              {% endfor %}
              {% if articles.has_next %}
              <li class="page-item">
                <a class="page-link" href="{% url 'blog:category' category.slug articles.next_page_number %}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">بعدی</a>
              </li>
              {% endif %}
            </ul>
          {% endif %}
          </nav>

{% endblock %}